body {
    /* font-size: 200%;
    font-family: 'Indie Flower', cursive; */
    background: url("deskbackground.png") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bigphonechat {
    display: inline;
    color: red;
    text-shadow: 1px 1px 3px #000000;
    font-size: 400%;
    /* margin-top: -10px;
    margin-bottom: -31px; */
}