<template>
  <div>
    <div v-on:click="imageClick(chat)" v-for="chat in chatsData" :key="chat.id">
      <div class="row" v-if="chat.username !== 'mina' && chat.type==='newmsg' ">
        <div class="col s2 l1">
          <img
            class="circle responsive-img z-depth-2"
            :src="`http://104.131.122.192:3001/display?op=thumbnail&w=150&h=150&path=${chat.Img.Id}/original/${chat.Img.Img_file_name}`"
            alt="Image"
          />
        </div>

        <div class="col s6">
          <div class="chat-message text-left">
            <div class="left-bubble">
              <span class="msg-name">{{chat.username}}</span>
              <p text-wrap>{{chat.message}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="chat-status text-left" v-if="chat.type==='join'">
        <img
          v-on:click="imageClick(chat)"
          class="circle responsive-img z-depth-2"
          :src="`http://104.131.122.192:3001/display?op=thumbnail&w=50&h=50&path=${chat.Img.Id}/original/${chat.Img.Img_file_name}`"
          alt="Image"
        />
        <span class="chat-content-left z-depth-2">{{chat.Img.Name}} {{chat.message}}</span>
        <!-- <span class="msg-date">{{chat.Localtime}}</span> -->
      </div>
      <div class="row" v-if="chat.username === 'mina'">
        <div class="col s6 offset-s4">
          <div class="chat-message text-right" v-if="chat.username === 'mina'">
            <div class="right-bubble">
              <span class="msg-name">Mina</span>
              <!-- <span class="msg-date">{{chat.sendDate}}</span> -->
              <p text-wrap>{{chat.message}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <el-row :gutter="15" style="margin-top: 12px;">
      <el-col :xs="14" :lg="10">
        <el-input
          type="primary"
          :placeholder="`Kirjoita.. ${selectedImg.Name}  Odottaa!!`"
          v-model="newMsg"
          :disabled="inputbut"
          @keyup.enter="send"
        ></el-input>
      </el-col>

      <el-col :xs="4" :lg="4">
        <el-button type="primary" @click="send">Send</el-button>
      </el-col>
    </el-row>
  </div>
</template>

<script>
// import { v4 as uuidv4 } from "uuid";
export default {
  name: "Chatmsg",
  data() {
    return {
      chatsData: [],
      inputbut: true,
      newMsg: "Odota muutama sekunti!!",
      selectedImg: {}
    };
  },

  methods: {
    watchChatData: function() {
      if (this.chatsData.length === 1) {
        this.inputbut = false;
        this.newMsg = "";
      }
    },

    send: function() {
      this.$store.dispatch("setAskMsg", this.newMsg);
    },
    imageClick: function(event) {
      this.$store.dispatch("setSelectedImg", event.Img);
      this.selectedImg = event;
      this.newMsg = "";
    },

    delMsg: function(val) {
      var newmsgnum = 0;

      if (this.chatsData.length >= val) {
        this.chatsData.forEach(function(item) {
          if (item.type === "newmsg") {
            newmsgnum++;
          }
        });

        if (newmsgnum > val) {
          this.chatsData.shift();
        }
      }
    }
  },
  created() {
    var self = this;
    this.$store.watch(
      state => state.lastmsg,
      function(value) {
        self.chatsData.push(value);
        if (value.username === "mina") {
          self.inputbut = true;
          self.newMsg = "Odota muutama sekunti!!";
        } else {
          if (self.inputbut) {
            self.inputbut = false;
            self.newMsg = "";
          }
        }
      }
    );
    this.$store.watch(
      state => state.selectedImg,
      function(value) {
        self.selectedImg = value;
        if (!self.inputbut) {
          self.inputbut = true;
          self.newMsg = "Odota muutama sekunti!!";
        }
      }
    );
  },

  watch: {
    chatsData: function() {
      this.watchChatData();
      this.delMsg(7);
    }
  }
};
</script>
<style scoped>
.chat-box {
  overflow: scroll;
}
.chat-item {
  border: none;
}
.chat-status {
  min-height: 49px;
}
.chat-status .chat-date {
  display: block;
  font-size: 10px;
  font-style: italic;
  color: #999;
  height: 15px;
  left: 10%;
  right: 10%;
}
.chat-status .chat-content-left {
  padding: 5px 10px;
  background-color: #e1e1f7;
  border-radius: 6px;
  font-size: 12px;
  color: #555;
  height: 34px;
  left: 10%;
  right: 10%;
}

.chat-status .chat-content-center {
  padding: 5px 10px;
  background-color: #e1e1f7;
  border-radius: 6px;
  font-size: 12px;
  color: #555;
  height: 34px;
  left: 10%;
  right: 10%;
}
.chat-message {
  width: 80%;
  min-height: 40px;
}
.chat-message .right-bubble {
  position: relative;
  background: #dcf8c6;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  padding: 5px 10px 10px;
  left: 15%;
}
.chat-message .right-bubble span.msg-name {
  font-size: 12px;
  font-weight: bold;
  color: green;
  display: block;
}
.chat-message .right-bubble span.msg-date {
  font-size: 10px;
  display: block;
}
.chat-message .right-bubble:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 27px solid transparent;
  border-left-color: #dcf8c6;
  border-right: 0;
  border-top: 0;
  margin-top: -0.5px;
  margin-right: -27px;
}
.chat-message .left-bubble {
  position: relative;
  background: #efefef;
  border-top-right-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  padding: 5px 10px 10px;
  left: 5%;
}
.chat-message .left-bubble span.msg-name {
  font-size: 12px;
  font-weight: bold;
  color: blue;
  display: block;
}
.chat-message .left-bubble span.msg-date {
  font-size: 10px;
  display: block;
}
.chat-message .left-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 27px solid transparent;
  border-right-color: #efefef;
  border-left: 0;
  border-top: 0;
  margin-top: -0.5px;
  margin-left: -27px;
}
</style>
