<template>
  <div>
    <el-row>
      <el-col :span="12" :offset="12" v-if="selectedOK">
        <div
          v-on:click="imageClick(imageData)"
          v-for="imageData in imagesData"
          :key="imageData.Img.Timeid"
          class="card waves-effect waves-block waves-lig z-depth-3"
        >
          <div class="card-image">
            <img
              :src="`http://104.131.122.192:3001/display?op=thumbnail&w=150&h=150&path=${imageData.Img.Id}/original/${imageData.Img.Img_file_name}`"
            />
            <span
              class="card-title"
            >{{imageData.Img.Name}} {{imageData.Img.Age}}v {{imageData.Img.City}}</span>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
  name: "Images",
  data: function() {
    return {
      isOpen: false,
      selectedOK: false,
      imagesData: []
    };
  },
  mounted() {},
  methods: {

    imageClick(img) {
      this.$store.dispatch("setSelectedImg", img.Img);
      this.$store.dispatch("endStart")

    }

  },
  created() {
    var self = this;

    this.$store.watch(
      state => state.joinmsgs,
      function(value) {
        self.selectedOK = false;
        // if (self.imagesData.length === 1) {

        //   // self.$store.dispatch("setSelectedImg", self.imagesData[0] );
        //    self.imagesData.push(value);
        //   self.imagesData.unshift(self.imagesData.pop());

        if (self.imagesData.length >= 3) {
          self.imagesData.push(value);
          self.imagesData.unshift(self.imagesData.pop());
          self.imagesData.pop();
        } else {
          self.imagesData.push(value);
          self.imagesData.unshift(self.imagesData.pop());
        }
        self.selectedOK = true;
      }
    );
  }
};
</script>
<style scoped>
a {
  color: blue;
  font-size: 170%;
  margin-right: 2px;
}
