<template>
  <div>
    <el-container v-if="this.imagesData.length > 0">
    <div
        v-on:click="imageClick(imageData)"
        v-for="imageData in imagesData"
        :key="imageData.Img.Timeid"
      >
        <img
          class="circle responsive-img z-depth-2 mobhead"
          :src="`http://104.131.122.192:3001/display?op=thumbnail&w=50&h=50&path=${imageData.Img.Id}/original/${imageData.Img.Img_file_name}`"
        />
      </div>
    </el-container>
  </div>
</template>
<script>
export default {
  name: "MobileImages",
  data: function() {
    return {
      isOpen: false,
      selectedOK: false,
      imagesData: []
    };
  },
  mounted() {},
  methods: {

    imageClick(img) {
      this.$store.dispatch("setSelectedImg", img.Img);

    }

  },
  created() {
    var self = this;

    this.$store.watch(
      state => state.joinmsgs,
      function(value) {
        self.selectedOK = false;

        if (self.imagesData.length >= 3) {
          self.imagesData.push(value);
          self.imagesData.unshift(self.imagesData.pop());
          self.imagesData.pop();
        } else {
          self.imagesData.push(value);
          self.imagesData.unshift(self.imagesData.pop());
        }
        self.selectedOK = true;
      }
    );
  }
};
</script>
<style scoped>
a {
  color: blue;
  font-size: 170%;
  margin-right: 2px;
}
