<template>
  <div>

    <div class="row" v-if="selectedOK">
      <div class="col s6 l5">
        <img
          :src="`http://104.131.122.192:3001/display?op=thumbnail&w=300&h=300&path=${imageData.Id}/original/${imageData.Img_file_name}`"
          alt
          class="responsive-img z-depth-4"
        />
      </div>
      <div class="col s6 l7">
        <div class="card z-depth-3 red lighten-3 left">
          <div class="card-content">
            <i class="material-icons right">favorite_border</i>
            <i class="material-icons">phone_iphone</i>
            <div class="hide-on-small-only" id="bigphonechat">{{imageData.Phone}}</div>
            <a class="hide-on-large-only" :href="`tel:${imageData.Phone}`">{{imageData.Phone}}</a>
            <div>{{imageData.Name}} {{imageData.Age}}v</div>
            <div>{{imageData.City}}</div>
            <div>Kirjoita vesti.. {{imageData.Name}} Odottaa!!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Selected",
  data: function() {
    return {
      isOpen: false,
      selectedOK: false,
      imageData: {}
    };
  },
  mounted() {},
  methods: {},
  created() {
    var self = this;
    this.$store.watch(
      state => state.selectedImg,
      function(value) {
        self.imageData = value;
        self.selectedOK = true;
      }
    );
  }
};
</script>
<style scoped>
a {
  color: blue;
  font-size: 170%;
  margin-right: 2px;
}
</style>
