<template>
  <div id="app">
    <!-- <Selected></Selected> -->
    <el-row>
      <el-col class="hidden-lg-and-up">
        <MobileImages></MobileImages>
      </el-col>

      <el-col :sm="24" :xs="24" :md="14" :lg="14" :xl="14">
        <Selected></Selected>
        <Chatmsg></Chatmsg>
      </el-col>
      <el-col :md="6" :lg="6" :xl="6" class="hidden-sm-and-down">
        <Images></Images>
      </el-col>
    </el-row>

    <footer id="footer"></footer>
  </div>
</template>

<script>
import VueCookies from "vue-cookies";
import VueScrollTo from "vue-scrollto";
import Selected from "@/components/Selected";
import Images from "@/components/Images";
import MobileImages from "@/components/MobileImages";
import Chatmsg from "@/components/Chatmsg";
import { v4 as uuidv4 } from "uuid";
import ReconnectingWebSocket from "reconnecting-websocket";

export default {
  name: "App",
  components: {
    Selected,
    Images,
    MobileImages,
    Chatmsg
  },
  data() {
    return {
      nguid: "",
      ws: null
    };
  },

  beforeMount() {
    if (!VueCookies.isKey("nguid8")) {
      VueCookies.set("nguid8", uuidv4(), Infinity);
      this.nguid = VueCookies.get("nguid8");
    } else {
      this.nguid = VueCookies.get("nguid8");
    }

    this.$store.dispatch("setNguid", this.nguid);
    this.ws = new ReconnectingWebSocket(
      this.$store.state.wsserverurl + this.nguid
    );
  },
  mounted() {
    this.ws.send(
      JSON.stringify({
        nguid: this.nguid,
        type: "start"
      })
    );

    var self = this;
    this.ws.addEventListener("message", function(e) {
      var msg = JSON.parse(e.data);

      if (msg.type === "join") {
        self.addtostore(msg);
      } else if (msg.type === "newmsg") {
        if (msg.username !== "mina") {
          setTimeout(function() {
            self.$store.dispatch("setLastmgs", msg);
            VueScrollTo.scrollTo("#footer");
          }, 5000);
        } else {
          self.$store.dispatch("setLastmgs", msg);
        }
      } else if (msg.type === "start") {
        // console.log(msg);
        self.$store.dispatch("setNguid", msg.nguid);
        self.$store.dispatch("setStart", msg.Img);
      }
    });
  },

  methods: {
    sendMsg(msg) {
      this.ws.send(JSON.stringify(msg));
    },

    addtostore(msg) {
      this.$store.dispatch("newJoin", msg);
    }
  },

  created() {
    var self = this;
    this.$store.watch(
      state => state.askmsg,
      function(value) {
        var msg = new Object();
        msg.id = uuidv4();
        msg.type = "newmsg";
        msg.nguid = self.$store.getters["getNguid"];
        msg.chatuuid = self.$store.getters["getChatuuid"];
        msg.username = "mina";
        msg.message = value;
        msg.img = self.$store.getters["getSelectedImg"];
        self.sendMsg(msg);
      }
    );
    this.$store.watch(
      state => state.selectedImg,
      function() {
        if (!self.$store.getters["getStart"]) {
          var msg = new Object();
          msg.id = uuidv4();
          msg.type = "selectedImg";
          msg.nguid = self.$store.getters["getNguid"];
          msg.img = self.$store.getters["getSelectedImg"];
          self.sendMsg(msg);
        }
      }
    );
  }
};
</script>

<style>
#app {
  font-family: "Indie Flower", cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */

  color: #2c3e50;
  margin-top: 20px;
  margin-left: 5%;
}
</style>
